// 
code,
pre,
kbd,
samp {
  font-family: 'Cascadia Mono', monospace;
}

// Optional: 
body {
  font-family: 'Figtree', sans-serif;
}

// Optional: Apply to all headings
h1, h2, h3, h4, h5, h6 {
  font-family: 'Figtree', sans-serif;
}
